$font-stack: Helvetica;
$primary-color: #272B30;


/** Component common variables */
$component-hoover-color: #4f4f4f;
$component-background-color: #3d3d3d;
$component-shadow-color: #151515;
$component-data-value-color: #fff;

/** Dashboard */
/** Top Components */
$dashboard-top-component-title-color: #5eceef;
$dashboard-top-component-vertical-divider-color: #38546d;

