/*Excel Button*/
.download-button {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: auto;
  text-align: center;
}

.h2-download-style {
  //text-align: center;
}

.header-separtion-download-page {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}