/*Excel Button*/
.download-button {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: auto;
}

.header-separtion-download-page {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}