.gene-searcher-component {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 3px;
  border: 1px solid black;
}

/*Searcher Button*/
.sequence-search-page-button-searcher {
  margin-top: 27px;
}