.login-register-component {
  margin-top: 10%;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;
}

.login-register-div {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}


