.login-register-component {
  margin-top: 10%;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;
}

.login-register-div {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.login-title {
  font-size: 30px;
  color: $dashboard-top-component-title-color;
  margin-left: 10%;

}


.login-register-button-login {
  margin-top: 50px;
  margin-left: 125px;
  margin-bottom: 50px;
}