.navigation-bar-component {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.application-title {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
  color: $dashboard-top-component-title-color;
}