.component-margins {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.between-components-space {
  margin-top: 40px;
}

.header-remove {
  //padding-top: 15px;
  margin-top: 30px;
  margin-right: 100px;
  //margin-right: auto;
  //margin-left: auto;
  //text-align: center;
}

.button-remove-collection {
  margin-top: 10px;
  //padding-left: -25px;
  //margin-left: 10px;
}